body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
}

.header,
footer {
    background-color: #1f2937;
    color: #f9faf8
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
}

.header img {
    width: 48px;
    height: 48px;
}

.header-links {
    display: flex;
    color: #e5e7eb;
}

ul {
    margin: 0;
    list-style-type: none;

    display: flex;
    gap: 64px;
}

a {
    text-decoration: none;
    color: inherit
}



.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 128px;
    background-color: #1f2937;
}

.hero img {
    height: auto;
    max-width: 100%;
}

.left-hero {
    flex-basis: 500px;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 32px 0;
    gap: 16px;
}

.left-hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.left-hero .text {
    color: #e5e7eb;
}

.button-container button {
    color: #f9faf8;
    font-size: 16px;
    font-weight: bolder;
    background-color: #3882f6;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}


.section-2,
.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section-2 {
    padding: 64px 120px 184px;
    background-color: white;
}

.section-2 h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card img {
    flex-shrink: 0;
    height: 200px;
    width: 200px;
    border: 5px solid #1f2937;
    border-radius: 10px;
}

.card .text {
    text-align: center;
    margin-bottom: 16px;
}



.section-3{
    padding: 256px 128px;
    background-color: #e5e7eb;

    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.quote-container .author{
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}



.section-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 128px 32px;
}

.section-action .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    padding: 48px 64px;
    background-color: #3882f6;
    border-radius: 10px;

    width: 50%;
}

.section-action .card .content{
    display: flex;
    flex-direction: column;

    color: #f9faf8;
    font-size: 20px;
}

.section-action .card .title{
    font-size: 28px;
    font-weight: bold;
}

.section-action button{
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    color:#f9faf8;
    background-color: #3882f6;
    border: 3px solid #f9faf8;
    border-radius: 10px;
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}